@font-face {
    font-family: Avenir, sans-serif;
    src: url("../assets/_global/fonts/Avenir.ttc");
}
/* @import url('https://fonts.googleapis.com/css?family=Josefin+Slab'); */
@import url('https://fonts.googleapis.com/css?family=Inconsolata');

body{
    font-family: Avenir;
    background-color: #FDFDFF;
    color: #3B3B3B;
}

/* This is for Page Titles */
.head1 {
    font-family: Avenir;
    font-size: 40pt;
    font-weight: 600;
}
/* This is for Page Tag Lines */
.head2 {
    font-family: Avenir;
    font-size: 30pt;
    font-weight: 600;
}
/* This is for page details */
.head3 {
    font-family: 'Inconsolata', monospace;
    margin: 8pt 0 20pt;
    font-size: 10pt;
    line-height: 12pt;
}
.copy {
    font-family: Avenir;
    font-size: 11pt;
    line-height: 16pt;
    font-weight: 100;
    /* width: 65%; */
    max-width: 750px;
}
.caption {
    font-family: 'Inconsolata', monospace;
    font-size: 10pt;
    margin: -1px 0;
    padding-top: 3px;
    color: #3B3B3B;
}
a {
    text-decoration: none;

}
a:visited {
    color: inherit;
}
br {
    line-height: 28pt;
}


/*  */
/* Navigation */
#nav {
    padding: 4% 9% 0%;
    margin: 0 0 50px;
}
#nav_container {
    float: right;
    position: relative;
}
#home_container {
    display: block;
    float: left;
    position: relative;
}
.nav_link {
    display: inline-block;
    padding: 10px 6px 0px;
    margin-right: 24px;
    color: #3B3B3B;
    border-bottom: 0px solid #7CDCFF;
    font-size: 16pt;
    line-height: 0pt;
}
.nav_link:hover {
    border-bottom: 5px solid #7CDCFF;
    transition-duration: .25s;
}

/*  */
/* Footer */
#footer{
    margin: 6% 0 0;
    height: 160px;
    padding: 24px;
    text-align: center;
    font-family: 'Inconsolata', monospace;
}
.footer_divider {
    width: 48%;
    margin: auto;
    border-top: 1px solid #3B3B3B;
}
.social_icon {
    color: #3B3B3B;
    margin-left: 2%;
}
.social_icon:hover{
    color: #7CDCFF;
}
.social_icon:first-child {
    margin-left: 0;
}


/*  */
/* Main Container */

#main_container {
    width: 80%;
    margin: 15px auto 25px;
}
.title_content {
    margin-left: 5px;
}


/*  */
/* Media Grid */
.row {
    clear: both;
    display: flex;
	padding: 0px;
	margin: 0px;
}
.col {
    display: block;
	float:left;
    margin: 1% 0 1% 2%;
    color: black;
    text-align: center;

    position: relative;
}
.col:first-child {
    margin-left: 0;
}
.span_1of3 {
    width: 32%;
}
.span_1of4{
    width: 23.5%;
}
.span_1of5 {
    width: 18%;
}
.span_2of5 {
    width: 32%;
}


/*  */
/* Hover States */
.border_overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%-60px;
    width: 100%;
    /* opacity: 0; */
    transition: .2s ease-in-out;
    outline: 0px solid #7CDCFF;
    outline-offset: 0;
}
.border_overlay:hover {
    /* opacity: 1; */
    outline: 5px solid #7CDCFF;
    outline-offset: -5px;
}

/*  */
/* The Spacer */
.spacer {
    height: 20px;
}

/*  */
/* Vimeo Embed */
.vimeo_embed {
    position: relative;
    padding-bottom: 56.25%;
    height: 0; overflow: hidden;
    max-width: 100%;
}
.vimeo_embed iframe, .vimeo_embed object, .vimeo_embed embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Gotta make it responsive */
/* Tab */
@media (max-width: 800px) {
    .copy{
        width: 100%;
    }
    .col {
        margin: 1% 2% 1% 0;
    }
    .span_1of4 {
        width: 48%
    }
}
/* Mobile */
@media (max-width: 480px) {
    /* Nav */
    .nav_link{
        margin-right: 8px;
        font-size: 12pt;
    }

    /* Fonts */
    .head1 {
        font-size: 32pt;
        line-height: 35pt;
    }
    .head3 {
        margin: 16pt 0 16pt;
    }

    /* Grids */
    .row {
        flex-wrap: wrap;
    }
    .col {
        margin: 1% 0 24px 0%;
    }
    .span_1of3, .span_2of5, .span_1of4 {
        width: 100%
    }
    .span_1of5 {
        width: 0%;
    }
    .footer_divider {
        width: 80%;
        border-top: 2px solid #3B3B3B;
    }    
}
